@use './fonts.scss';

* {
    font-family: "Inter";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
html{
    background-color: rgb(248, 247, 247);
}
button {
    cursor: pointer;
    background-color: unset;
    border: none;
    transition: 0.2s;

    &:active {
        transform: scale(0.9);
        opacity: 0.8;
    }
}